* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-image: linear-gradient(45deg, #f18305, #df0b0b);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: rgb(60, 173, 49);
  color: whitesmoke;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
  border-radius: 10px;
}
.currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
select,
input {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
select {
  outline: none;
}
input {
  background: transparent;
  outline: 0;
  font-size: 15px;
}
.refrance {
  font-size: 20px;
  font-weight: 600;
}
